@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: 0

html, body
  margin: 0
  padding: 0
  height: 100%
  font-size: 18px

body
  background-color: $colors.bg
  color: $colors.text
  background-repeat: no-repeat
  background-position: top center
  background-attachment: fixed
  background-size: 100% auto
  font-family: brandon-grotesque, Helvetica, Arial, sans-serif
  font-weight: 300
  display: flex
  flex-flow: column

body, div, header, main, footer, h1, h2, h3, h4, h5, p, form, input, textarea, button, i, span, section, article, ul, li, menu
  box-sizing: border-box

h1,h2,h3,h4,h5
  font-family: brandon-grotesque, Helvetica, Arial, sans-serif
  font-weight: bold

h1
  font-size: 2.75rem
  margin: 2.5rem 0 0 0

h2
  font-size: 2rem
  margin: 2rem 0 0 0

h3
  font-size: 1.75rem
  margin: 1.5rem 0 0 0

h4
  font-size: 1.5rem
  margin: 1rem 0 0 0

a
  transition: .5s all linear
  color: $colors.baby-blue
  font-weight: bold
  text-decoration: none
  border-bottom: 1px solid transparent

figure
  margin: 0
  padding: 0

  &.image
    margin: 0 auto 1rem auto
    text-align: center
    img
      border-radius: .5rem
      box-shadow: 0 3px 5px rgba($colors.black, .5)

    figcaption
      color: lighten($colors.grey, 20%)
      padding: .5rem
      font-size: .9rem
a:hover
  color: $colors.green
  text-decoration: none
  cursor: pointer
  border-bottom: 1px solid
a:active
  color: $colors.red
  text-decoration: none
  cursor: pointer

a.training
  display: inline-block
  font-size: .8rem
  padding: .25rem .5rem

a.training:hover
  border: none
  text-decoration: none

pre
  font-size: 1rem
  overflow: auto

p
  font-size: 1.2rem

blockquote
  font-size: .9rem
  margin: .5rem 1rem
  padding: 0
  border-left: 2px solid
  padding-left: .5rem
  p
    margin: 0
    padding: 0
    font-size: .9rem

// definition lists
dl
  display: flex
  flex-flow: column wrap
  margin: 0

  dt
    margin: 0
    padding: 0
    font-size: .75rem
    line-height: 1

  dd
    margin: 0
    padding: 0
    flex: 1 auto
    font-size: 1rem

hr
  width: 100%

ul
  padding: 0 0 0 1rem

.row
  display: flex
  margin: auto
  flex-flow: column nowrap

  @media screen and (min-width: 600px)
    flex-flow: row nowrap

  @media screen and (min-width: 900px)
    max-width: $page.width
