// Copyright (c)2024 Quinn Michaels. All rights reserved.

$colors = {
  white: #ffffff
  grey: #5b5b5b
  light-grey: #b5b5b5
  dark-grey: #333333
  darker-grey: #2b2b2b
  darkest-grey: #0f0f0f
  black: #000000
  baby-blue: #5aa9f8
  blue: #3941ea
  light-baby-blue: #92ddfd
  green: #5bff67
  light-green: #9dffa4
  yellow: #bea500
  light-yellow: #bcb05e
  dark-yellow: #786800
  pink: #fe4e8d
  light-pink: #ff75f9
  orange: #ff9c00
  light-orange: #fdcc80
  red: #cb2323
  light-red: #d66161
  purple: #ba80e7
  light-purple: #cba7e6
  aqua: #79f2e8
  light-aqua: #a5f0ea
  note: #e8e3ac
  bg: #2b2d31
  text: #b5b5b5
}

$page = {
  main: 1024px
  home: 1280px
}

:root
  --transition-default: all .5s linear
  --header-bg: url(/assets/img/headers/001-temple.jpg)
  --header-color: $colors.text

  for color in $colors
    --color-{color}: $colors[color]
