<footer>
  {% include share.html %}
  {% include offerings.html %}

  <section class="info">
    <ul class="nav">
    {% for nav in site.data.nav %}
      <li><a href="{{ nav.link }}">{{ nav.name }}</a></li>
    {% endfor %}
    </ul>
    <div class="copyright">&copy;2024 Quinn Michaels. All rights reserved.</div>
  </section>
</footer>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4YTLJBS7PW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-4YTLJBS7PW');
</script>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>
