<section class="offerings">
  <div class="label">{{site.name}} is supported through sharing, gifts, and offerings from our community. <a href="/offerings">Learn more <i class="icn-arrow-right"></i></a></div>
  <div class="services">
    <ul>
      <li><a href="https://paypal.me/rahulaclub" target="offerings"><img src="/assets/img/share/paypal.png" alt=""></a></li>
      <li><a href="https://patreon.com/rahulaclub" target="offerings"><img src="/assets/img/share/patreon.png" alt=""></a></li>
    </ul>
  </div>
</section>
