<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{page.title}} by {{page.author}} - {{page.subtitle}}</title>

    <meta name="description" content="{{page.describe}}"/>
    <meta name="author" content="{{site.author}}"/>
    <meta name="copyright" content="{{site.copyright}}"/>

    <meta property="og:site_name" content="{{site.name}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.describe}}">
    <meta property="og:image" content="{{site.url}}{{page.image}}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{page.describe}}">
    <meta name="twitter:creator" content="@{{site.xcreator}}">
    <meta name="twitter:site" content="@{{site.xsite}}">
    <meta name="twitter:image" content="{{site.url}}{{page.image}}">
    <meta name="twitter:description" content="{{page.describe}}">

    <link rel="stylesheet" href="https://use.typekit.net/dds5scw.css">
  	<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
  </head>

  <body>
    {% include header.html %}

    {% include share.html format="inline" %}

    <main class="page">
      <p>{{page.describe}}</p>

      <section class="content">
        {{content}}
      </section>

    </main>

    {% include footer.html %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E8TJ4DQCZR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-E8TJ4DQCZR');
    </script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>

  </body>
</html>
